@use "../../partials/_typography" as *;
@use "../../partials/_mixin" as *;
@use "../../partials/_variables" as *;

.header {
  @include regular;
  border-bottom: 2px solid $light-black;
  position: sticky;
  top: 0px;
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1100;
  backdrop-filter: blur(20px);
  box-shadow: rgb(19 47 76) 0px -1px 1px inset;
  background-color: rgba(10, 25, 41, 0.72);

  @include tablet {
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
  }
}

.hero {
  display: flex;
  gap: 1em;
  &__logo {
    cursor: pointer;
    max-width: 40px;
    max-height: 100%;
  }
  &__text {
    font-size: 12pt;
    color: $white;
  }
}
