@use "./variables" as *;
@use "./typography";

@mixin mobile {
  @media (min-width: 0px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin regular {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
}

@mixin light {
  font-family: "OpenSans-Light";
  font-weight: 300;
  font-style: normal;
}

@mixin medium {
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-style: normal;
}

@mixin semibold {
  font-family: "OpenSans-SemiBold";
  font-weight: 600;
  font-style: normal;
}

@mixin bold {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-style: normal;
}

@mixin extrabold {
  font-family: "OpenSans-ExtraBold";
  font-weight: 800;
  font-style: normal;
}
