@font-face {
    font-family: "OpenSans-Regular";
    src: url("../assets/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-Medium";
    src: url("../assets/fonts/OpenSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../assets/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../assets/fonts/OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}