// Colors
$light-black: #1F2421;
$black: #000000;
$white: #FFFFFF;
$light-green: #DFF5F2;
$blue: #497EBA;
$teal: #216869;
$green: #498478;
$light-olive: #9CC5A1;
$light-grey: #DCE1DE;


// Breakpoints

$mobile-breakpoint: 479px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;

// padding
$padding-incr: 4px;